@import "tailwindcss";

* {
  -webkit-user-select: none; /* Chrome, Safari, new Edge */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  user-select: none; /* chuẩn */
}

a.active {
  color: blue;
}

button {
  cursor: pointer;
}
